/* update : 2025-12-12 09:40 */

/* Redmine 기본 CSS 파일 */
@import url("../../../stylesheets/application.css"); 


@font-face {
    font-family: 's-core-dream-thin';
    src: url('../fonts/scdream1.woff2') format('woff2'),
         url('../fonts/scdream1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extralight';
    src: url('../fonts/scdream2.woff2') format('woff2'),
         url('../fonts/scdream2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-light';
    src: url('../fonts/scdream3.woff2') format('woff2'),
         url('../fonts/scdream3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-regular';
    src: url('../fonts/scdream4.woff2') format('woff2'),
         url('../fonts/scdream4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-medium';
    src: url('../fonts/scdream5.woff2') format('woff2'),
         url('../fonts/scdream5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-bold';
    src: url('../fonts/scdream6.woff2') format('woff2'),
         url('../fonts/scdream6.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-extrabold';
    src: url('../fonts/scdream7.woff2') format('woff2'),
         url('../fonts/scdream7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-heavy';
    src: url('../fonts/scdream8.woff2') format('woff2'),
         url('../fonts/scdream8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 's-core-dream-black';
    src: url('../fonts/scdream9.woff2') format('woff2'),
         url('../fonts/scdream9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  --fonts-main: "s-core-dream-regular", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", Verdana, Arial, 돋움, Dotum, "Noto Sans", sans-serif;
}

#header {
  background: #141f30;
  color: #8c9cb3;
}

#header.h1 {
  color: #8c9cb3;
}

/* 일감 내용 배경색 */
div.issue {
  background: #FFFFFF
}

